/*
** Prismai Variables
*/
:root {
  --prismai-primary-color-dark: #076eff;
  --prismai-main-black: #111;
  --prismai-main-white: #fff;
  --prismai-main-gray: #f5f7f9;
  --prismai-main-gray-light: #f0f2f6;
  --prismai-main-gray-dark: #595959;
}

@font-face {
  font-family: "Roboto Variable";
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/*
** Main Styles
*/
body {
  font-family: "Roboto Variable", sans-serif;
  font-size: 14px;
  color: var(--prismai-main-black);
}

p {
  margin: 0;
}

/*
** Custom Styles
*/

.prismai-container {
  position: absolute;
  z-index: 1000;
  width: 240px;
  background-color: var(--prismai-main-white);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.prismai-logo {
  height: 30px;
}

/* -- Header */
.prismai-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  padding-top: 10px;

  &:not(:has(> .prismai-tag--full)) {
    padding-bottom: 10px;
  }

  .prismai-logo {
    margin-right: auto;
    padding-left: 12px;
  }

  .prismai-selection-type {
    text-transform: capitalize;
  }

  &:has(> .prismai-tag--full) {
    .prismai-selection-type {
      padding-right: 12px;
    }
  }
}

/* -- Tag */
.prismai-tag {
  color: var(--prismai-main-white);
  background-color: var(--prismai-primary-color-dark);
  padding: 2px 4px;
  margin-right: 12px;
  border-radius: 4px;
  font-size: 12px;
  text-transform: lowercase;

  &.prismai-tag--full {
    width: 100%;
    border-radius: 0;
    margin-right: 0;
    padding: 8px 12px;

    span {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
}
