/*
** Prismai Variables
*/
:root {
  --prismai-primary-color-dark: #076eff;
  --prismai-main-black: #111;
  --prismai-main-white: #fff;
  --prismai-main-gray: #f5f7f9;
  --prismai-main-gray-light: #f0f2f6;
  --prismai-main-gray-lighter: #f9fafb;
  --prismai-main-gray-dark: #8e8e8e;
  --prismai-main-gradient: linear-gradient(
    270deg,
    #ee4d5d -7.73%,
    #ac87eb 31.52%,
    #4fabff 69.63%,
    #076eff 107.74%
  );
}

@font-face {
  font-family: "Roboto Variable";
  src: url("./fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gantari";
  src: url("./fonts/Gantari/Gantari-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/*
** Main Styles
*/
body {
  font-family: "Roboto Variable", sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 600px;
}

#app {
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
}

p {
  font-weight: 400;
  margin: 0;
}

button:not(.icon) {
  font-family: "Roboto Variable", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: var(--prismai-main-white);

  background-color: var(--prismai-primary-color-dark);
  width: 100%;
  padding: 12px 24px;

  border: none;
  border-radius: 20px;

  cursor: pointer;
}

button.icon {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}
